body {
  background-color: #000;
  color: #ffc;
  font-family: "Courier New", monospace; /* Or another monospace font */
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

#password-container {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 20px;
  border: 2px solid #ffc;
  border-radius: 10px;
  text-align: center;
}

#main-content {
  background-color: rgba(0, 0, 0, 0.8);
  color: #ffc;
  padding: 20px;
  border: 2px solid #ffc;
  border-radius: 10px;
}

#password-input {
  background-color: #000;
  color: #ffc;
  border: 1px solid #ffc;
  padding: 5px;
  margin-right: 10px;
  font-family: monospace;
}

#password-container button {
  background-color: #000;
  color: #ffc;
  border: 1px solid #ffc;
  padding: 5px 10px;
  font-family: monospace;
  cursor: pointer;
}

#error-message {
  color: red;
  margin-top: 10px;
}

/* Header Styles */
header {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 20px 0;
  border-bottom: 1px solid #ffc;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
}

.site-title h1 {
  font-family: "Baskerville Old Face", serif;
  font-size: 2em;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav li {
  margin-left: 20px;
}

nav a {
  color: #ffc;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

/* Main Content Styles */
main {
  padding: 20px;
  flex-grow: 1; /* Important for taking up available space */
}

.article-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
}

article {
  border: 1px solid #ffc;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black for articles */
}

article img {
  max-width: 100%;
  height: auto;
  filter: grayscale(80%); /* Darker images */
  transition: filter 0.3s ease;
}

article img:hover {
  filter: grayscale(0%);
}

article h3 {
  margin-top: 10px; /* Add some space above the title */
}

/* Footer Styles */
footer {
  text-align: center;
  padding: 20px 0;
  border-top: 1px solid #ffc;
}


/* Cyberpunk Glitch Effects */
h1, h2, h3, p, a {
  transition: all 0.2s ease;
}

h1:hover, h2:hover, h3:hover, p:hover, a:hover {
  text-shadow: 0 0 5px #0f0, 0 0 10px #0f0;
  animation: glitch 0.3s infinite;
}

@keyframes glitch {
  0% { transform: translate(0, 0); }
  25% { transform: translate(-2px, 2px); }
  50% { transform: translate(2px, -2px); }
  75% { transform: translate(-1px, 1px); }
  100% { transform: translate(0, 0); }
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
}